streamlit
https://github.com/whitphx/streamlit-webrtc/releases/download/v0.49.0/streamlit_webrtc-0.49.0-py3-none-any.whl
langchain
langchain-openai
openai
pinecone-client
edge-tts
speechrecognition
scipy
pillow
python-dotenv
av
